@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

html, body{
	padding: 0;
	margin: 0;
	background-color: black;
	color: white;
	scroll-behavior: smooth;
	font-family: "Geist";
}

*::selection{
	background-color: #41ff80;
	color: black;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	position: sticky;
	top: 10px;
	height: 60px;
	padding-inline: 10px;
	margin: 10px;
	border-radius: 10px;
	backdrop-filter: blur(5px);
	border: 1px solid #2d2d2d;
}

.button{
	border: 1px solid #2d2d2d;
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: white;
	margin-inline: 5px;
}

.button:hover{
	border: 1px solid white;
	transition: 0.4s ease;
}

.logo a{
	font-family: "PolySans Median";
	color: #41ff80;
	text-decoration: none;
}

nav.footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 10px;
	background-color: #2d2d2d;
}

.link{
	color: white;
	text-decoration: none;
	font-size: 18px;
	margin-inline: 5px;
}

.link:hover{
	text-decoration: 2px solid underline #41ff80;
}

.main{
	padding: 0 2em;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.main-auth{
	padding: 5em;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.tour-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.tour-container .tour-item{
	border: 1px solid #2d2d2d;
	max-width: 400px;
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
}

.tour-item img{
	border-radius: 10px 10px 0 0;
	width: 400px;
	height: 250px;
}

.tour-item h2{
	line-height: 0;
}

p{
	margin: 0;
}

i{
	font-size: 17px;
	margin-inline: 5px;
}

.tour-item span{
	margin-inline: 10px;
}

.tour-item div.info{
	padding: 10px;
}

.tour-item .details{
	display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: repeat(3, 30px);
	align-items: center;
    margin: 0;
    padding: 0;
}

.tour-item a.button-lg {
	background: #41ff80;
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 10px;
    font-size: 17px;
}

/* Login / Signup */
.main-container{
	padding: 2em 4em;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #2d2d2d;
	border-radius: 10px;
	margin: auto;
	margin-bottom: 20px;
}

.main-container label{
	font-size: 20px;
}

.main-container input{
	font-size: 20px;
	font-family: "Geist";
	padding: 10px;
	outline: none;
	border-radius: 5px;
	margin-block: 10px;
	color: white;
	border: 1px solid #717171;
	background-color: black;
}

.main-container button{
	background: #41ff80;
    color: black;
	border: none;
    text-decoration: none;
    text-align: center;
	width: calc(100%);
	margin: 20px 0 0 0;
    padding: 10px 40px;
	font-family: "Geist";
    border-radius: 10px;
    font-size: 20px;
	cursor: pointer;
}


.banner{
	background-image: url(../public/img/tour-2-cover.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 60vh;
}

.banner h1{
	font-size: 3em;
}

.banner h1, .banner span{
	background-color: black;
	color: white;
	border-radius: 10px;
	padding: 5px 10px;
}

section.info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

section.info div.about,
section.info div.tour-info,
section.info div.guides{
	background-color: #2d2d2d;
	padding: 1em;
	border-radius: 10px;
	width: 300px;
	height: 250px;
	margin: 10px;
}

section.info div h3{
	line-height: 0;
}

div.tour-info{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

div.tour-info span{
	margin: 5px;
}

section.info div.guides{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

section.info div.guides .guide-item{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: black;
	margin: 5px;
	width: 100%;
	border-radius: 35px;
}

section.info div.guides .guide-item img{
	border-radius: 100%;
	margin: 10px;
	height: 50px;
	width: 50px;
}

section.images{
	display: flex;
	padding: 1em;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

section.images img{
	width: 30vw;
	margin: 10px;
	border-radius: 15px;
}

section.images img:hover{
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
	border-radius: 8px;
}

section.map{
	padding: 1em;
}

section.reviews{
	display: flex;
	align-items: flex-start;
	padding: 1em;
	flex-direction: column;
}

section.reviews .reviews-container{
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 30vh;
	width: 96vw;
	overflow-x: scroll;
}

/* WebKit browsers */
section.reviews .reviews-container::-webkit-scrollbar {
    height: 12px;
}
section.reviews .reviews-container::-webkit-scrollbar-thumb {
    background: #41ff80;
}

.reviews-container .review-item{
	background-color: #2d2d2d;
	display: flex;
	flex-direction: column;
	padding: 1em;
	min-width: 300px;
	border-radius: 10px;
	margin: 10px;
}

.reviews-container .review-item div{
	display: flex;
	justify-content: left;
	align-items: center;
}

.reviews-container .review-item img{
	border-radius: 10px;
	margin: 0 10px 0 0;
}

.reviews-container .review-item p{
	margin-top: 10px;
}

.reviews-container .review-item span{
	margin-top: 10px;
}

section.book{
	background-color: #2d2d2d;
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1em;
	border-radius: 15px;
}

section.book a.button-lg{
	background: #41ff80;
    color: black;
	border: none;
    text-decoration: none;
    text-align: center;
    padding: 10px 40px;
	font-family: "Geist";
    border-radius: 10px;
    font-size: 20px;
	cursor: pointer;
}