<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log In | Natours</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<nav class="navbar">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="links">
			<a href="#" class="button">Log In</a>
			<a href="#" class="button">Sign Up</a>
		</div>
	</nav>
	<div id="notification" class="notification hidden">
		<i class="bi bi-info-circle"></i>
		<span>This is a test notification</span>
	</div>

	<section class="error">
		<h1>Error 404</h1>
		<p>The resource you requested was not found on the server</p>
		<a href="/" class="button-lg">BACK TO HOME</a>
	</section>

	<nav class="footer">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="links">
			<a href="#" class="link">About Us</a>
			<a href="#" class="link">Download App</a>
			<a href="#" class="link">Become a Guide</a>
			<a href="#" class="link">Careers</a>
			<a href="#" class="link">Contact Us</a>
		</div>
	</nav>
</body>
</html>