<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Natours</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<nav class="navbar">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="user">
			<a href="/logout" class="log-out">Log Out</a>
			<a href="/me" class="user-link">
				<img src="https://dummyimage.com/40x40" alt="User">
				Jonas
			</a>
		</div>
	</nav>
	<section class="main">
		<h1>All Tours</h1>
		<div class="tour-container">
			<div class="tour-item">
				<img src="https://dummyimage.com/350x200" alt="Image"> 
				<div class="info">
					<h2>The Sea Explorer</h2>
					<p>Exploring the jaw-dropping US east coast by foot and by boat</p>
				</div>
				<div class="details">
					<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
					<span><i class="bi bi-calendar"></i> June 2026</span>
					<span><i class="bi bi-flag"></i> 4 stops</span>
					<span><i class="bi bi-person"></i> 15 people</span>
					<span><i class="bi bi-tag-fill"></i> 497$ *</span>
					<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
				</div>
				<a href="#" class="button-lg">DETAILS</a>
			</div>
			<div class="tour-item">
				<img src="https://dummyimage.com/350x200" alt="Image"> 
				<div class="info">
					<h2>The Sea Explorer</h2>
					<p>Exploring the jaw-dropping US east coast by foot and by boat</p>
				</div>
				<div class="details">
					<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
					<span><i class="bi bi-calendar"></i> June 2026</span>
					<span><i class="bi bi-flag"></i> 4 stops</span>
					<span><i class="bi bi-person"></i> 15 people</span>
					<span><i class="bi bi-tag-fill"></i> 497$ *</span>
					<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
				</div>
				<a href="#" class="button-lg">DETAILS</a>
			</div>
			<div class="tour-item">
				<img src="https://dummyimage.com/350x200" alt="Image"> 
				<div class="info">
					<h2>The Sea Explorer</h2>
					<p>Exploring the jaw-dropping US east coast by foot and by boat</p>
				</div>
				<div class="details">
					<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
					<span><i class="bi bi-calendar"></i> June 2026</span>
					<span><i class="bi bi-flag"></i> 4 stops</span>
					<span><i class="bi bi-person"></i> 15 people</span>
					<span><i class="bi bi-tag-fill"></i> 497$ *</span>
					<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
				</div>
				<a href="#" class="button-lg">DETAILS</a>
			</div>
			<div class="tour-item">
				<img src="https://dummyimage.com/350x200" alt="Image"> 
				<div class="info">
					<h2>The Sea Explorer</h2>
					<p>Exploring the jaw-dropping US east coast by foot and by boat</p>
				</div>
				<div class="details">
					<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
					<span><i class="bi bi-calendar"></i> June 2026</span>
					<span><i class="bi bi-flag"></i> 4 stops</span>
					<span><i class="bi bi-person"></i> 15 people</span>
					<span><i class="bi bi-tag-fill"></i> 497$ *</span>
					<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
				</div>
				<a href="#" class="button-lg">DETAILS</a>
			</div>
			<div class="tour-item">
				<img src="https://dummyimage.com/350x200" alt="Image"> 
				<div class="info">
					<h2>The Sea Explorer</h2>
					<p>Exploring the jaw-dropping US east coast by foot and by boat</p>
				</div>
				<div class="details">
					<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
					<span><i class="bi bi-calendar"></i> June 2026</span>
					<span><i class="bi bi-flag"></i> 4 stops</span>
					<span><i class="bi bi-person"></i> 15 people</span>
					<span><i class="bi bi-tag-fill"></i> 497$ *</span>
					<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
				</div>
				<a href="#" class="button-lg">DETAILS</a>
			</div>
			<div class="tour-item">
				<img src="https://dummyimage.com/350x200" alt="Image"> 
				<div class="info">
					<h2>The Sea Explorer</h2>
					<p>Exploring the jaw-dropping US east coast by foot and by boat</p>
				</div>
				<div class="details">
					<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
					<span><i class="bi bi-calendar"></i> June 2026</span>
					<span><i class="bi bi-flag"></i> 4 stops</span>
					<span><i class="bi bi-person"></i> 15 people</span>
					<span><i class="bi bi-tag-fill"></i> 497$ *</span>
					<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
				</div>
				<a href="#" class="button-lg">DETAILS</a>
			</div>
			<div class="tour-item">
				<img src="https://dummyimage.com/350x200" alt="Image"> 
				<div class="info">
					<h2>The Sea Explorer</h2>
					<p>Exploring the jaw-dropping US east coast by foot and by boat</p>
				</div>
				<div class="details">
					<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
					<span><i class="bi bi-calendar"></i> June 2026</span>
					<span><i class="bi bi-flag"></i> 4 stops</span>
					<span><i class="bi bi-person"></i> 15 people</span>
					<span><i class="bi bi-tag-fill"></i> 497$ *</span>
					<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
				</div>
				<a href="#" class="button-lg">DETAILS</a>
			</div>
			<div class="tour-item">
				<img src="https://dummyimage.com/350x200" alt="Image"> 
				<div class="info">
					<h2>The Sea Explorer</h2>
					<p>Exploring the jaw-dropping US east coast by foot and by boat</p>
				</div>
				<div class="details">
					<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
					<span><i class="bi bi-calendar"></i> June 2026</span>
					<span><i class="bi bi-flag"></i> 4 stops</span>
					<span><i class="bi bi-person"></i> 15 people</span>
					<span><i class="bi bi-tag-fill"></i> 497$ *</span>
					<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
				</div>
				<a href="#" class="button-lg">DETAILS</a>
			</div>
			<div class="tour-item">
				<img src="https://dummyimage.com/350x200" alt="Image"> 
				<div class="info">
					<h2>The Sea Explorer</h2>
					<p>Exploring the jaw-dropping US east coast by foot and by boat</p>
				</div>
				<div class="details">
					<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
					<span><i class="bi bi-calendar"></i> June 2026</span>
					<span><i class="bi bi-flag"></i> 4 stops</span>
					<span><i class="bi bi-person"></i> 15 people</span>
					<span><i class="bi bi-tag-fill"></i> 497$ *</span>
					<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
				</div>
				<a href="#" class="button-lg">DETAILS</a>
			</div>
		</div>
	</section>
	<nav class="footer">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="links">
			<a href="#" class="link">About Us</a>
			<a href="#" class="link">Download App</a>
			<a href="#" class="link">Become a Guide</a>
			<a href="#" class="link">Careers</a>
			<a href="#" class="link">Contact Us</a>
		</div>
	</nav>
</body>
</html>