<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log In | Natours</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<nav class="navbar">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="links">
			<a href="#" class="button">Log In</a>
			<a href="#" class="button">Sign Up</a>
		</div>
	</nav>
	<div id="notification" class="notification hidden">
		<i class="bi bi-info-circle"></i>
		<span>This is a test notification</span>
	</div>
	<section class="main-auth">
		<div class="main-container">
			<h1>Log In to Natours</h1>
			<label for="email">E-Mail Address</label>
			<input type="email" name="email" id="email" placeholder="example@mail.com">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="••••••••••">
			<button class="button-lg">LOGIN</button>
		</div>
	</section>
	<nav class="footer">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="links">
			<a href="#" class="link">About Us</a>
			<a href="#" class="link">Download App</a>
			<a href="#" class="link">Become a Guide</a>
			<a href="#" class="link">Careers</a>
			<a href="#" class="link">Contact Us</a>
		</div>
	</nav>
</body>
</html>