<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Natours</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<nav class="navbar">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="links">
			<a href="#" class="button">Log In</a>
			<a href="#" class="button">Sign Up</a>
		</div>
	</nav>
	<section class="banner">
		<h1>The Sea Explorer</h1>
		<p>
			<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
			<span><i class="bi bi-clock"></i> 7 days</span>
		</p>
	</section>
	<section class="info">
		<div class="about">
			<h3>About this Tour</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam necessitatibus maiores ducimus autem? Iure nihil, eius beatae quod omnis perspiciatis!</p>
		</div>
		<div class="tour-info">
			<h3>Tour Info</h3>
			<span><i class="bi bi-geo-alt"></i> Miami, FL</span>
			<span><i class="bi bi-calendar"></i> June 2026</span>
			<span><i class="bi bi-flag"></i> 4 stops</span>
			<span><i class="bi bi-person"></i> 15 people</span>
			<span><i class="bi bi-tag-fill"></i> 497$ *</span>
			<span><i class="bi bi-star-fill"></i> 4.1 (18)</span>
		</div>
		<div class="guides">
			<h3>Tour Guides</h3>
			<div class="guide-item">
				<img src="https://dummyimage.com/50x50">
				<span>Kate Norris</span>
			</div>
			<div class="guide-item">
				<img src="https://dummyimage.com/50x50">
				<span>Kate Norris</span>
			</div>
		</div>
	</section>
	<section class="images">
		<img src="../public/img/tour-2-1.jpg" alt="">
		<img src="../public/img/tour-2-2.jpg" alt="">
		<img src="../public/img/tour-2-3.jpg" alt="">
	</section>
	<section id="map" class="map">
		<h1>Tour Map</h1>
	</section>
	<section class="reviews">
		<h1>Reviews</h1>
		<div class="reviews-container">
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
			<div class="review-item">
				<div>
					<img src="https://dummyimage.com/50x50" alt="User">
					<span>Lourdes Browning</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ratione.</p>
				<span><i class="bi bi-star-fill"></i>5</span>
			</div>
		</div>
	</section>
	<section class="book">
		<h2>What are you waiting for? Book the Tour Now!</h2>
		<a href="#" class="button-lg">BOOK NOW</a>
	</section>
	<nav class="footer">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="links">
			<a href="#" class="link">About Us</a>
			<a href="#" class="link">Download App</a>
			<a href="#" class="link">Become a Guide</a>
			<a href="#" class="link">Careers</a>
			<a href="#" class="link">Contact Us</a>
		</div>
	</nav>
</body>
</html>