<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Natours</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<nav class="navbar">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="links">
			<a href="#" class="button">Log In</a>
			<a href="#" class="button">Sign Up</a>
		</div>
	</nav>
	<section class="main-user">
		<div class="acc-ctl user-ctl">
			<h4>Account Controls</h4>
			<a href="#" class="sidebar-item">Settings</a>
			<a href="#" class="sidebar-item">My Bookings</a>
			<a href="#" class="sidebar-item">My Reviews</a>
			<a href="#" class="sidebar-item">Billing Details</a>
		</div>
		<div class="acc-ctl admin-ctl">
			<h4>Admin Actions</h4>
			<a href="#" class="sidebar-item">Manage Tours</a>
			<a href="#" class="sidebar-item">Manage Reviews</a>
			<a href="#" class="sidebar-item">Manage Users</a>
			<a href="#" class="sidebar-item">Manage Bookings</a>
		</div>
		<div class="edit-dtl acc-dtl">
			<h3 class="title">Account Details</h3>
			<label for="name">Name</label>
			<input type="text" placeholder="Name" id="name">
			<label for="email">Email</label>
			<input type="email" id="email" placeholder="E-Mail Address">
			<label for="profile">Profile Photo</label>
			<img src="" height="100" width="100" alt="">
			<input type="file" accept=".jpg,.jpeg,.png" id="profile">
			<a href="#" class="button-lg">Save</a>
		</div>
		<div class="edit-dtl password">
			<h3 class="title">Change Password</h3>
			<input type="password" placeholder="•••••••••">
			<input type="password" placeholder="•••••••••">
			<input type="password" placeholder="•••••••••">
			<a href="#" class="button-lg">Save</a>
		</div>
	</section>
	<nav class="footer">
		<div class="logo">
			<a href="#">
				<h2>Natours</h2>
			</a>
		</div>
		<div class="links">
			<a href="#" class="link">About Us</a>
			<a href="#" class="link">Download App</a>
			<a href="#" class="link">Become a Guide</a>
			<a href="#" class="link">Careers</a>
			<a href="#" class="link">Contact Us</a>
		</div>
	</nav>
</body>
</html>